*{
    margin: 0;
}

body{
    font-family: 'Prompt', sans-serif;
    color: rgb(80, 78, 78);
}

.header-section{
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    height: 420px;
    text-align: center;
    margin-bottom: 70px;
}

.header-title{
    color: white;
    margin: 0 250px;
    top: 90px;
    position: absolute;
}

.header-title h1{
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: bold; 
}

.header-title p{
    font-size: 14px;
    margin-bottom: 40px;
}

 a{
    padding: 15px 19px;
    background-color: #fb536a ;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(250, 241, 241);
    font-weight: bold;
}


.donat-today{
    margin: 0 150px;
    margin-bottom: 100px;
}

.donate-title h1{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 790;
}


.donate-title{
    text-align: center;
    margin: 10px 150px;
}

.donate-amount{
    display: flex;
    margin-top: 50px;
    margin-bottom: 80px;
}

.donate-amount h2{
    margin: 0 auto;
    padding: 40px 30px ;
    background-color: rgba(246, 243, 243, 0.867);
    border-radius: 4px;
    font-weight: 800;
}

#clickable{
    color: #fe455e;
    background-color: #fb536925;
    border: 2px solid #fe455e;
}

.other-amount{
    text-align: center;   
}

.other-amount p{
    margin-bottom: 15px;
    font-size: 20px;
}

hr{
    margin-bottom: 50px;
}

.donate-plan-title{
    margin: 0px 250px;
    text-align: center;
}

.donate-plan-title p{
    margin-top: 30px;
    margin-bottom: 70px;
}

.donte-boxs{
    display: flex;
    margin-bottom: 100px;
    margin: 0 70px;
    margin-bottom: 100px;
}

.donate-box{
    padding: 30px 20px;
    margin: 10px;
    height: 250px;
    text-align: justify;
}


.donate-box h3{
    margin: 25px 0;
    font-size: 25px;
    text-align: justify;
}

.box1{
    background-color: #a5dde753;
}

.box2{
    background-color: #fb536925;
}

.box3{
    background-color: rgba(255, 228, 196, 0.541);
}

.contribute-donation{
    display: flex;
    margin: 0 70px;
    margin: 30px 80px;
    margin-bottom: 150px;  
}

.contribute-donation-title{
    width: 50%;
    margin-top: 30px;
}

.title1{
    margin-right: 150px;
}

.contribute-donation-title h1{
    font-size: 35px;
    margin-bottom: 20px;
}

.contribute-donation-title p{
    margin: 35px 0;
    text-align: justify;
}

.contribute-donation-img{
    width: 50%;   
}

.contribute-donation-img img{
    width: 100%;
    height: 370px;
}

.title2{
   margin-left: 150px;
}


.my-updates{
    margin: 0px 270px;
    text-align: center;
    margin-bottom: 100px;
}


.update-title h1{
    font-size: 30px;
    font-weight: 800;
}

.update-title p{
    margin-top: 30px;
    margin-bottom: 45px;
}

.update-form{
    padding: 70px 80px;
    background-color: rgba(255, 228, 196, 0.858) ;
    font-size: 15px;
}

input{
    width: 190px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(199, 197, 197);
}

button{
    width: 110px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-left: 0;
    background-color: #fe455e;
    color: white;
}


footer{
    padding: 50px;
    background-color: black;
    color: white;
    text-align: center;
}

footer h1{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #fe455e;
    margin-bottom: 20px;
}